<section class="container">
  <section
    class="modal-view d-flex flex-column"
    *ngIf="modalService.isVisible$ | async"
  >
    <h5 class="align-self-center fs-4">{{ currentClient.firstName }}</h5>
    <p class="title align-self-center align-self-center">
      Your request is sent. Please, wait for your volunteer to help you!
    </p>

    <div class="gap-4 mt-4 d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-outline modalBtn px-4"
        (click)="modalService.done()"
      >
        Ok
      </button>
    </div>
  </section>
  <section class="task-form">
    <article class="personalinfo">
      <p><strong>Your Information</strong></p>
      <p class="info-text">
        {{ currentClient.firstName }} <br />
        {{ currentClient.lastName }}
      </p>
      <a href="">Edit Information</a>
    </article>

    <!-- Address and change address -->

    <article class="address">
      <p><strong>Your Address</strong></p>
      <p class="info-text">
        {{ currentClient.zip }} <br />
        {{ currentClient.city }}, {{ currentClient.address }}
      </p>
      <a href="">Edit Information</a>
    </article>

    <!-- task form -->
    <form [formGroup]="addTaskForm" (ngSubmit)="addToClientTask()">
      <article class="my-3 helptype col-6">
        <p><strong>Type of help:</strong></p>
        <select class="form-select" required="" formControlName="title">
          <option value="">Choose...</option>
          <option>Shopping</option>
          <option>Pets</option>
          <option>Urgently</option>
          <option>Others</option>
          <option>Moving</option>
        </select>
        <p
          *ngIf="
            this.addTaskForm.get('helpType')?.invalid &&
            this.addTaskForm.get('helpType')?.touched
          "
        >
          <small class="text-danger"
            >Choose the problem type, this is required</small
          >
        </p>
      </article>

      <article class="col-6 my-3 helptype">
        <p><strong>Enter period:</strong></p>

        <select class="form-select" required="" formControlName="period">
          <option value="">Choose suitable period</option>
          <option>from 9 to 12</option>
          <option>from 12 to 15</option>
          <option>from 15 to 18</option>
          <option>Other</option>
        </select>
        <p
          *ngIf="
            this.addTaskForm.get('period')?.invalid &&
            this.addTaskForm.get('period')?.touched
          "
        >
          <small class="text-danger"
            >Choose the problem type, this is required</small
          >
        </p>
      </article>

      <section class="comment">
        <article>
          <h6>Comments:</h6>
          <article class="d-flex flex-wrap gap-2">
            <a
              *ngFor="let text of textTemplate"
              (click)="showHints(text)"
              id="text"
              class="btn btn-hint rounded-pill"
              >{{ text }}</a
            >
            </article>
          <textarea
            [(ngModel)]="selectedText"
            class="form-control"
            placeholder="Leave your comment here"
            id="floatingTextarea2"
            style="height: 100px"
            formControlName="description"
          >
          comments
        </textarea
          >
          <p
            *ngIf="
              this.addTaskForm.get('comments')?.invalid &&
              this.addTaskForm.get('comments')?.touched
            "
          >
            <small class="text-danger"
              >Choose the problem type, this is required</small
            >
          </p>
        </article>

        <div class="mt-2 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            checked=""
            formControlName="isUrgent"
          />
          <label class="form-check-label">Emergency</label>
        </div>
      </section>
      <button class="btn save_btn" type="submit">Send my request</button>
    </form>
  </section>
</section>
