<section class="container">
  <section class="client_tasks">
    <ngb-accordion
      #a="ngbAccordion"
      activeIds="custom-panel-1"
      *ngFor="let task of myTasks"
    >
      <ngb-panel id="custom-panel-1">
        <ng-template ngbPanelHeader let-opened="opened">
          <button
            ngbPanelToggle
            class="accordion-button"
            [ngClass]="{
              shopping: task.title == 'Shopping',
              urgently: task.title == 'Urgently',
              pets: task.title == 'Pets',
              other: task.title == 'Others',
              moving: task.title == 'Moving'
            }"
          >
            <span
              ><b> {{ task.title }}</b> &nbsp;{{
                task.date | date : "dd/MM/yyyy"
              }}</span
            >
          </button>
        </ng-template>

        <ng-template ngbPanelContent>
          <div class="d-flex justify-content-between">
            <article class="accordion-body">
              <strong>{{ task.title }}</strong>
              <p>
                {{ task.description }}
              </p>
            </article>
            <div class="delete-btn">
              <button
                type="button"
                class="btn btn-danger opacity-75"
                (click)="deleteTask(task.id!)"
              >
                delete task
              </button>
            </div>
          </div>
          <article *ngIf="task.status.inProgress">
            <a class="show" (click)="isVisible = !isVisible"
              >Show your volunteer</a
            >
            <app-volunteer-card-f-client
              *ngIf="isVisible"
              [value]="task.volunteerID"
            ></app-volunteer-card-f-client>
          </article>

          <!-- Modal window to delete -->
          <section class="modal-screen" *ngIf="modalService.isVisible$ | async">
          <article
            class="modal-view d-flex flex-column"
          >
            <h5 class="align-self-center fs-4">
              {{ currentClient.firstName }}
            </h5>
            <p class="title align-self-center align-self-center">
              Are you sure you want to delete this task?
            </p>

            <div class="gap-4 mt-4 d-flex justify-content-center">
              <button
                type="button"
                class="btn btn-outline modalBtnYes px-4"
                (click)="deleteTask(task.id!)"
              >
                Yes
              </button>
              <button
                type="button"
                class="btn btn-outline modalBtnNo px-4"
                (click)="modalService.done()"
              >
                No
              </button>
            </div>
          </article>
        </section>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
</section>
