.container {
  margin: 0 auto;
  padding: 0;
}

.client_tasks, .donetasks {
    margin: 2rem;
    padding: 0;
}
a{
  text-decoration: none;
  font-size: 1rem;
  color: #4d92f9;
}


.urgently {
    color: var(--brown);
    background-color: var(--emergency);
  }
  .shopping {
    color: var(--brown);
    background-color: var(--shopping);
  }
  .pets {
    color: var(--brown);
    background-color: var(--pets);
  }
  .other {
    color: var(--brown);
    background-color: var(--others);
  }
  .moving {
    color: var(--brown);
    background-color: var(--moving);
  }

.accordion-button{
    padding: 1.8rem;
}
.accordion-body{
  padding: 1rem 0 .5em 0;
  width: 60%;

}
.delete-btn{
  align-self: center;
}

/* MODAL */
.modal-view {
  width: 40%;
  height: auto;
  position: absolute;
  top: 30%;
  left: 30%;
  border-radius: 1rem;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgb(160, 157, 157);
}
.modalBtn {
  background-color: var(--main-color);
  border: none;
  color: white;
}


@media only screen and (max-width: 425px) {
    .client_tasks{
        margin: 1rem;
    }
}

@media only screen and (max-width: 425px) {
    .donetasks,
    .client_tasks {
      margin: 0.5em;
    }

  }
  @media only screen and (max-width: 320px) {
    .donetasks,
    .client_tasks {
      margin: 0.5em;
    }
   
  }