<section class="container">
  <section class="done">
    <ngb-accordion
      #a="ngbAccordion"
      activeIds="custom-panel-1"
      *ngFor="let task of tasks"
    >
      <ngb-panel [disabled]="false">
        <ng-template ngbPanelHeader let-opened="opened">
          <button
            ngbPanelToggle
            class="accordion-button"
            [ngClass]="{
              shopping: task.title == 'Shopping',
              urgently: task.title == 'Urgently',
              pets: task.title == 'Pets',
              other: task.title == 'Others',
              moving: task.title == 'Moving'
            }"
          >
            <span
              ><b> {{ task.title }}</b> &nbsp;{{
                task.date | date : "dd/MM/yyyy"
              }}</span
            >
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <article class="accordion-body">
            <strong>{{ task.title }}</strong>
            <p>
              {{ task.description }}
            </p>

            <div class="d-flex justify-content-end">
              <i
                class="bi bi-star-fill isChecked"
              ></i>
              <i
                class="bi bi-star-fill isChecked"
              ></i>
              <i
                class="bi bi-star-fill isChecked"
              ></i>
              <i
                class="bi bi-star-fill isChecked"
              ></i>
              <i
                class="bi bi-star-fill isChecked"
              ></i>
            </div>
          </article>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
</section>
