<section class="container">
  <section class="donetasks">
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
      <ngb-panel [disabled]="true"
      *ngFor="let task of doneTasks"
      >
        <ng-template ngbPanelHeader let-opened="opened" class="disabled">
          <button ngbPanelToggle class="accordion-button shopping disabled"
          [ngClass]="{
            shopping: task.title == 'Shopping',
            urgently: task.title == 'Urgently',
            pets: task.title == 'Pets',
            other: task.title == 'Others',
            moving: task.title == 'Moving'
          }">
          <span
          ><b> {{ task.title }}</b> &nbsp;{{
            task.date | date : "dd/MM/yyyy"
          }}</span
        >
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
              <article class="task-body">
                <p>
                  {{task.description}}
                </p>
              </article>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
</section>
